<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <!-- Iteramos sobre los usuarios para mostrarlos -->
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.address }}</td>

        <td>
          <!-- <button (click)="deleteUser(user.id)">Eliminar</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>